.Name {
  width: 60px;
  height: 15px;
  font-family: WorkSans;
  font-size: 11.2px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  padding:0px 0px 1px 2px;
  margin: 12.3px 0px 0px 0px;
  line-height: 1.29;
  letter-spacing: normal;
  color: #000000;
}

.Content {
  padding-left: 120px;
  width: 645px;
  height: 28.8px;
  font-family: AvenirNext;
  font-size: 9.6px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.54);
}

.Comment {
  width: 928px;
  height: 91.3px;
  /* object-fit: contain; */
  margin-left: 125px !important;
  /* opacity: 0.1; */
  border-radius: 0.8px;
  background-color: #ecf4e7;
  box-shadow: 0 0 1px 0 #e5e6e9;
  padding:10px 2px 0px 50px;
}

.Photo {
  width: 30px;
  height: 30px;
  /* opacity: 0.78; */
  margin: 12px 7.6px 4px 0px;
  background-color: #d8d8d8;
  border-radius: 80px;
  
}
h3.-hrs-ago  {
  
  width: 100%;
  height: 13px;
  /* font-family: WorkSans; */
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  font-stretch: expanded;
  line-height: 1.33;
  letter-spacing: normal;
  margin: 0px;
  color: rgba(10, 0, 0, 0.952);
}
.Description-Comment{
  margin: 0px 0px 0px 0px;
}
.Comment-Info{
  height: 30px;
}