.Rectangle {
  /* width: 1920px;

  height: 1200px; */
  background-color: #fafafa;
  /* border: solid 1px #979797; */
  background-image: url(../src/images/contenido/group.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 120px;
}

.Log-in {
  width: 40px;
  height: 19px;
  font-family: AvenirNext;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2d374a;
}

.Rectangle-header {
  background-color: #fafafa;
  /* background-repeat: no-repeat; */
  /* background-position: center; */
  padding-left: 120px;
}